body {
	box-sizing: border-box;
}
body .markdown-body {
    position: relative;
    min-width: 200px;
	max-width: 720px;
    margin: 0 auto;
	padding: 1rem;
}
nav {
    position: sticky;
    top: 1rem;
}
nav:empty { display: none; }
nav .custom-select {
    float: right;
    padding: .5rem 1rem;
    background: #24292e;
    color: #fff;
    border-radius: 4px;
}
